<div class="edit-container" *ngIf="currentNeed != null">

    <h2>Edit Need</h2>

    <!---- Display editing options -->
    <h3>Editing: {{currentNeed.name}}</h3>
    <h4>Deadline:</h4>
    <div class="date-edit">
        <label for="deadline-day">Day: </label>
        <input id="deadline-day" type="text" [(ngModel)]="currentNeed.deadline.day"
            placeholder="{{currentNeed.deadline.day}}" />
        <br>
        <label for="deadline-month">Month: </label>
        <input id="deadline-month" type="text" [(ngModel)]="currentNeed.deadline.month"
            placeholder="{{currentNeed.deadline.month}}" />
        <br>
        <label for="deadline-year">Year: </label>
        <input id="deadline-year" type="text" [(ngModel)]="currentNeed.deadline.year"
            placeholder="{{currentNeed.deadline.year}}" />
    </div>
    <label for="need-type">
        <h4>Need type: </h4>
    </label>
    <select [(ngModel)]="currentNeed.type" name="need-type" id="need-type">
        <option *ngFor="let needType of validTypes" value="{{needType}}" selected="{{needType == currentNeed.type}}">
            {{needType}}</option>
    </select>

    <div *ngIf="currentNeed.type == validTypes[0]"> <!-- donation -->
        <label for="goal">
            <h4>Funding Goal: </h4>
        </label>
        <input id="goal" type="text" [(ngModel)]="currentNeed.goal" placeholder="{{currentNeed.goal}}" />
    </div>

    <div *ngIf="currentNeed.type == validTypes[1]"> <!-- volunteer -->
        <h4>Volunteer Dates</h4>
        <div *ngFor="let date of currentNeed.volunteerDates" class="date-edit">
            <label for="day">Day: </label>
            <input id="day" type="text" [(ngModel)]="date.day" placeholder="{{date.day}}" />
            <br>
            <label for="month">Month: </label>
            <input id="month" type="text" [(ngModel)]="date.month" placeholder="{{date.month}}" />
            <br>
            <label for="year">Year: </label>
            <input id="year" type="text" [(ngModel)]="date.year" placeholder="{{date.year}}" />
        </div>

        <button type="button" (click)="addNewVolunteerDate()">
            <p><b>Add date</b></p>
        </button>
        <button type="button" (click)="removeVolunteerDate()">
            <p><b>Remove last date</b></p>
        </button>

    </div>
    <label for="description">
        <h4>Description: </h4>
    </label>
    <textarea type="text" id="description" cols="40" rows="10" [(ngModel)]="currentNeed.description"
        placeholder="{{currentNeed.description}}"></textarea>


    <!-- Buttons -->
    <br>
    <button type=button id="enterButton" (click)="updateNeed()">
        <p><b>Update</b></p>
    </button>
    <button type=button id="deleteTransactionHistory" (click)="deleteTransactionHistory()">
        <p><b>Delete transaction
                history</b></p>
    </button>
    <button type=button id="discardButton" (click)="discardChanges(true)">
        <p><b>Discard changes</b></p>
    </button>
    <button type=button id="deleteButton" (click)="deleteNeed()">
        <p><b>Delete need</b></p>
    </button>
    <p>{{errorText}}</p>
</div>

<br>
<div class="create">
    <h2>Create Need</h2>
    <label for="name">
        <p><b>New need name (cannot be changed): </b></p>
    </label>
    <input id="name" type="text" [(ngModel)]="newNeedName" placeholder="Consider a unique name" />
    <button type=button id="createButton" (click)="createNeed(newNeedName)">
        <p><b>Create new need</b></p>
    </button>
    <p>{{createErrorText}}</p>
</div>