<h1>Account detail section</h1>
<h2>{{displayAccount.name}}'s tags</h2>
<div class="btn-group">
    <div *ngFor="let item of displayAccount.tags">
        <button (click)="removeTag(item)" (mouseover)="changeHoverTag(item)">
            <p><b>{{item}}</b></p>
        </button>
    </div>
</div>
<br>
<button (click)="showTagList()">
    <p><b>Toggle avaliable tags</b></p>
</button>

<div *ngIf="showTags">
    <h4>{{tagMessage}}</h4>
    <div class="btn-group">
        <div *ngFor="let item of tagManagerContent">
            <button (click)="addTag(item)" (mouseover)="changeHoverTag(item)">{{item}}</button>
        </div>
    </div>
    <p *ngIf="hoverTag != null"><i>Tag Details: {{hoverTag.tagDetail}}</i></p>
</div>