<h1>Account detail section</h1>
<h2>{{displayAccount.name}}'s tags</h2>
<div class="btn-group">
    <div *ngFor="let item of displayAccount.tags">
        <button (click)="removeTag(item)" (mouseover)="changeHoverTag(item)">{{item}}</button>
    </div>
</div>

<button (click)="showTagList()">Toggle avaliable tags</button>

<div *ngIf="showTags">
    <h4>All tags avaliable to be added to this need:</h4>

    <div class="btn-group">
        <div *ngFor="let item of tagManagerContent">
            <button (click)="addTag(item)" (mouseover)="changeHoverTag(item)">{{item}}</button>
        </div>
    </div>
    <h4 *ngIf="hoverTag != null">Tag Details: {{hoverTag.tagDetail}}</h4>
</div>