<div *ngIf="loginService.userAccount != null">
    <div class="header">
        <a routerLink="/" class="header-link">Home</a>|
        <a *ngIf="!loginService.userAccount.isAdmin" routerLink="/checkout" class="header-link">Checkout</a>
        <a *ngIf="loginService.userAccount.isAdmin" routerLink="/CreateTags" class="header-link">Create Tags</a>
        <a *ngIf="loginService.userAccount.isAdmin" routerLink="/ManageUsers" class="header-link">Configure Account
            Tags</a>

    </div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="loginService.userAccount == null">
    <app-login></app-login>
</div>