<div *ngIf="loginService.userAccount != null">
    <div class="header">
        <a routerLink="/" class="header-link">
            <p><b>Home</b></p>
        </a>
        <a *ngIf="!loginService.userAccount.isAdmin" routerLink="/checkout" class="header-link">
            <p><b>Checkout</b></p>
        </a>
        <a *ngIf="loginService.userAccount.isAdmin" routerLink="/CreateTags" class="header-link">
            <p><b>Create Tags</b></p>
        </a>
        <a *ngIf="loginService.userAccount.isAdmin" routerLink="/ManageUsers" class="header-link">
            <p><b>Configure Account
                    Tags</b></p>
        </a>

    </div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="loginService.userAccount == null">
    <app-login></app-login>
</div>