.header {
    background-color: #7286A0;
    border: .0625rem solid #373D20;
    padding: 1rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.header-link {
    margin-left: auto;
    margin-right: auto;
    padding: .5rem;
    background-color: #BCBD8B;
    color: black;
    border-radius: 2px;
}