<div class="detail-container-left">
    <h2>Detail section</h2>
    <div *ngIf="needCacheService.selectedNeed != null">
        <!-- Display need information -->
        <h3>{{needCacheService.selectedNeed.name}}</h3>
        <div *ngIf="needCacheService.selectedNeed.type == 'donation'">
            <h4>Funding progress:
                ${{needCacheService.selectedNeed.progress}} / ${{needCacheService.selectedNeed.goal}}
            </h4>
            <p *ngIf="needCacheService.selectedNeed.progress >= needCacheService.selectedNeed.goal"> <i>Note: This
                    need's
                    goal has been meet. Users can no longer see this need unless the progress get updated.
                </i></p>
        </div>
        <h4>Description: {{needCacheService.selectedNeed.description}}</h4>
        <h4>Ends on
            {{needCacheService.selectedNeed.deadline.month}}/{{needCacheService.selectedNeed.deadline.day}}/{{needCacheService.selectedNeed.deadline.year}}
        </h4>

        <div *ngIf="loginService.userAccount.isAdmin" class="btn-group">
            <h4>Tags:</h4>
            <div *ngFor="let item of needCacheService.selectedNeed.tags">
                <button *ngIf="item != 'admin'" [disabled]="!loginService.userAccount.isAdmin"
                    (click)="removeTag(item)"><b>{{item}}</b></button>
            </div>
        </div>
        <!-- Admin-only tag modification -->
        <div *ngIf="loginService.userAccount.isAdmin">
            <br>
            <button (click)="showTagList()">
                <p><b>Toggle avaliable tags</b></p>
            </button>
            <div *ngIf="showTags">
                <p>{{tagMessage}}</p>
                <div class="btn-group">
                    <div *ngFor="let item of tagManagerContent">
                        <button (click)="addTag(item)" (mouseover)="changeHoverTag(item)"><b>{{item}}</b></button>
                    </div>
                </div>
                <p *ngIf="hoverTag != null"><i>Tag Details: {{hoverTag.tagDetail}}</i></p>
            </div>
        </div>

        <!-- If it isn't in the basket, allow it to be added -->
        <button *ngIf="!needCacheService.selectedNeed.inFundingBasket && !loginService.userAccount.isAdmin"
            (click)="addToFundingBasket()">
            <p><b>Add to funding basket</b></p>
        </button>
        <button *ngIf="needCacheService.selectedNeed.inFundingBasket && !loginService.userAccount.isAdmin"
            (click)="removeFromFundingBasket()">
            <p><b>Remove from funding basket</b></p>
        </button>
        <!-- If it is in the basket, allow it to be removed. Also allow its donation amounts to be modified.-->
        <div *ngIf="needCacheService.selectedNeed.inFundingBasket">
            <!-- Starter code for the Donate Time story.  Good luck! -->
            <div *ngIf="displayNeed != null && displayNeed.type == 'donation'">

                <label for="donation-amount">
                    <h4>Donation amount: </h4>
                </label>
                <input id="donation-amount" [(ngModel)]="displayNeed.donationAmount" placeholder="0" #donationAmount />
            </div>

            <div *ngIf="displayNeed != null && displayNeed.type == 'volunteer'">
                <p>Select the dates you would like to volunteer for:</p>

                <div *ngFor="let this_date of displayNeed.volunteerDates">
                    <app-date [date]="this_date" [need]="this.displayNeed"></app-date>
                    <button *ngIf="dateSelected(this_date)" (click)="removeDate(this_date)">[^Remove Date]</button>
                    <br>
                    <br>

                </div>
            </div>
            <!-- <button (click)="saveNeed(donationAmount.value)"> Save </button> -->
        </div>
        <!-- If I'm an admin, I see transactions -->
        <div *ngIf="transactionListVisible()">
            <app-transaction-history-display
                [displayNeed]="needCacheService.selectedNeed"></app-transaction-history-display>
        </div>
    </div>
    <div *ngIf="needCacheService.selectedNeed == null">
        <p><i>Select a need to see its details.</i></p>
    </div>
</div>
<div>
    <app-need-edit *ngIf="loginService.userAccount.isAdmin" [currentNeed]="needCacheService.selectedNeed"
        class="detail-container-right"></app-need-edit>
</div>