<div class="detail-container-left">
    <h2>Detail section</h2>
    <div *ngIf="displayNeed != null">
        <!-- Display need information -->
        <h3>{{displayNeed.name}}</h3>
        <h4 *ngIf="displayNeed.type == 'donation'">Funding progress: ${{displayNeed.progress}} / ${{displayNeed.goal}}
        </h4>
        <p *ngIf="displayNeed.progress >= displayNeed.goal"> <i>Note: This need's goal has been meet, but you may
                overdonate to
                this need if you like. However it is suggested to donate to other needs that haven't meet their goal
                yet.
            </i></p>
        <h4>Description: {{displayNeed.description}}</h4>
        <h4>Ends on {{displayNeed.deadline.month}}/{{displayNeed.deadline.day}}/{{displayNeed.deadline.year}}</h4>

        <div *ngIf="loginService.userAccount.isAdmin" class="btn-group">
            <h4>Tags:</h4>
            <div *ngFor="let item of displayNeed.tags">
                <button *ngIf="item != 'admin'" [disabled]="!loginService.userAccount.isAdmin"
                    (click)="removeTag(item)"><b>{{item}}</b></button>
            </div>
        </div>
        <!-- Admin-only tag modification -->
        <div *ngIf="loginService.userAccount.isAdmin">
            <br>
            <button (click)="showTagList()">
                <p><b>Toggle avaliable tags</b></p>
            </button>
            <div *ngIf="showTags">
                <p>{{tagMessage}}</p>
                <div class="btn-group">
                    <div *ngFor="let item of tagManagerContent">
                        <button (click)="addTag(item)" (mouseover)="changeHoverTag(item)"><b>{{item}}</b></button>
                    </div>
                </div>
                <p *ngIf="hoverTag != null"><i>Tag Details: {{hoverTag.tagDetail}}</i></p>
            </div>
        </div>

        <!-- If it isn't in the basket, allow it to be added -->
        <button *ngIf="!displayNeed.inFundingBasket && !loginService.userAccount.isAdmin"
            (click)="addToFundingBasket()">
            <p><b>Add to funding basket</b></p>
        </button>

        <!-- If it is in the basket, allow it to be removed. Also allow its donation amounts to be modified.-->
        <div *ngIf="displayNeed.inFundingBasket">
            <!-- <button (click)="saveNeed(donationAmount.value)"> Save </button> -->
            <button (click)="removeFromFundingBasket()">
                <p><b>Remove from funding basket</b></p>
            </button>
            <label for="donation-amount">
                <h4>Donation amount: </h4>
            </label>
            <input id="donation-amount" [(ngModel)]="displayNeed.donationAmount" placeholder="0" #donationAmount />

        </div>
        <!-- If I'm an admin, I see transactions -->
        <div *ngIf="transactionListVisible()">
            <app-transaction-history-display [displayNeed]="displayNeed"></app-transaction-history-display>
        </div>
    </div>
    <div *ngIf="displayNeed == null">
        <p><i>Select a need to see its details.</i></p>
    </div>
</div>
<app-need-edit *ngIf="loginService.userAccount.isAdmin" [currentNeed]="displayNeed"
    class="detail-container-right"></app-need-edit>