table {
    border-collapse: collapse;
    border: .0625rem solid #373D20;
    background-color: #EFF1ED;
    width: 100%;
}

/* Style the table header cells */
th {
    background-color: #EFF1ED;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #373D20;
}

/* Style the table data cells */
td {
    padding: 10px;
    border: 1px solid #373D20;
}