<div class="login-box">
    <div *ngIf="areDonationsValid() && areVolunteerDatesValid() && basketService.contents.length > 0" class="accept"
        style="display: flex;">
        <h2>Total ${{total}}</h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="checkout()" class="button" style="margin-right: auto; margin-left: auto;"> Confirm </button>
    </div>
    <div *ngIf="!areDonationsValid()">
        <h3>Items in your cart have invalid donation amounts. Please check that you filled each item's amount!</h3>
    </div>
    <div *ngIf="!areVolunteerDatesValid()">
        <h3>Items in your cart have invalid volunteer times. Please check your input!</h3>
    </div>
    <div *ngIf="basketService.contents.length <= 0">
        <h3><i>Items you put in the funding basket can be checked out here</i></h3>
    </div>

</div>