.btn-group button {
    background-color: #7286A0;
    /* Green background */
    border: 1px solid black;
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    font-size: medium;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #BCBD8B;
}

.user-box {
    border: .0625rem solid #373D20;
    border: .0625rem solid #373D20;
    background-color: #EFF1ED;
    border-radius: .625rem;
    margin-top: 2rem;
    padding: 2.3125rem 4rem 3rem;
    position: absolute;
    min-width: 50%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}